.lineComp-Card{
    margin: 0;
    padding: 25px;
    color: #666;
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    background: #fff;
    border-radius: 0px !important;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 7%), 0px 1px 1px 0px rgb(0 0 0 / 3%), 0px 0px 4px 0px rgb(0 0 0 / 8%) !important;
}

@media screen and (max-width: 501px ) {
    .lineComp-Card{
        margin: 0;
        padding: 15px;
        color: #666;
        font-size: 13px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum","tnum";
        position: relative;
        background: #fff;
        border-radius: 0px !important;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 7%), 0px 1px 1px 0px rgb(0 0 0 / 3%), 0px 0px 4px 0px rgb(0 0 0 / 8%) !important;
    }
}