.marker {
	position: relative !important;
}
.markerCssForAlert {
	/* display: none; */
	background-color: #ffffff;
	margin-bottom: 60px;
	padding: 5px;
	border-radius: 4px;
}

.marker:hover > .markerCssForAlert {
	display: flex;
	background-color: #ffffff;
	margin-bottom: 60px;
	padding: 5px;
	border-radius: 4px;
}
