.marker {
	position: relative !important;
}
.markerCssForAlert {
	/* display: none; */
	background-color: #ffffff;
	margin-bottom: 60px;
	padding: 5px;
	border-radius: 4px;
}

.marker:hover > .markerCssForAlert {
	display: flex;
	background-color: #ffffff;
	margin-bottom: 60px;
	padding: 5px;
	border-radius: 4px;
}

.radio-button-icon {
	width: 100% !important;
}
.css-jg12e5-MuiButtonBase-root-MuiRadio-root:hover {
	background-color: white !important;
}
